@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

/* Header */

.header {
  background-image: url(../Assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Navbar */

.nav-container {
  max-width: 1080px;
  margin: 0px auto;
  padding: 38px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  font-size: 34px;
  font-weight: bold;
  color: #4e47ff;
}
.nav-btn {
  border: none;
  background-color: #4e47ff;
  padding: 12px 36px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

/* Banner Section */

.banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 125px 0;
}
.banner-title {
  font-size: 65px;
  font-weight: 700;
  text-align: center;
}
.banner-btn {
  border: none;
  background-color: #4e47ff;
  padding: 12px 36px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-top: 25px;
}

/* Main */

.main {
  background-color: #f7f9ff;
}

/* Action Section */

.action-container {
  max-width: 1080px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
}
.action-title {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}
.action-description {
  font-size: 18px;
  color: gray;
}
.action-btn {
  border: none;
  background-color: #4e47ff;
  padding: 12px 36px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}
.action-img {
  border-radius: 40px;
}

/* Productive Users Section */

.productiveUser-container {
  max-width: 1080px;
  margin: 0px auto;
  padding: 50px 140px;
  background-color: #e7e8fe;
  border-radius: 20px;
}
.productiveUser-title {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.productiveUser-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productiveUser-sub-title {
  font-size: 80px;
  font-weight: bold;
  color: #4e47ff;
}

/* Let’s Get In Touch Section */

.contact-container {
  max-width: 1080px;
  margin: 0px auto;
  padding: 70px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-title {
  font-size: 90px;
  font-weight: bold;
}
.contact-form {
  display: flex;
  flex-direction: column;
}
.form-input {
  width: 450px;
  height: 60px;
  font-size: 17px;
  padding: 0 10px;
  margin-top: 8px;
  margin-bottom: 20px;
}
.form-textarea {
  font-size: 17px;
  padding: 0 10px;
  margin-top: 8px;
  margin-bottom: 20px;
}
.form-btn {
  border: none;
  background-color: #4e47ff;
  padding: 12px 36px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

/* Footer */

.footer {
  width: 530px;
  margin: 0 auto;
  padding: 80px 0;
}
.footer-title {
  font-size: 80px;
  font-weight: bolder;
  color: #4e47ff;
  text-align: center;
  margin-bottom: 20px;
}
.footer-description {
  font-size: 17px;
  color: gray;
  text-align: center;
}
.footer-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}
.list-item {
  list-style: none;
}
.list-item a {
  text-decoration: none;
  color: gray;
}
